NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/roblox_manager
SESSION_SECRET=MTUwNDYxMzAzMzY5NDA2ODk3MA.GO-H66.R9Fj_CX55JwtGs69LMC7JCW5BUwUjui8ldZfCo
DISCORD_CLIENT_ID=1504613033694068970
DISCORD_CLIENT_SECRET=nzsukUZUMvzbbv5xKe28W-eYGakS-CZ7
DISCORD_REDIRECT_URI=https://discord.com/oauth2/authorize?client_id=1504613033694068970&response_type=code&redirect_uri=https%3A%2F%2Froblox-friend-manager-production.up.railway.app%2Fauth%2Fdiscord%2Fcallback&scope=identify
